apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:         
  argocd/app-name: o7r881m9l-nodejs
  janus-idp.io/tekton: o7r881m9l-nodejs
  backstage.io/kubernetes-id: o7r881m9l-nodejs
  backstage.io/kubernetes-namespace: tssc-app 
  app.kubernetes.io/part-of: o7r881m9l-nodejs
resources:
  - deployment.yaml
  - route.yaml
  - service.yaml
